html, body {
	margin: 0;
	padding: 5px;
}

html {
	background: #000;
	font-family: Verdana;
}

input,
#ring,
#vibro,
#go,
#plus,
#minus {
	background: #FFF;
	text-decoration: none;
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	display: block;
	width: 48%;
	margin: 10px 1%;
	float: left;
	padding: 10px 0;
	border: 0;
	color: #333;
}

#go {
	width: 98%;
	padding: 30px 0;
}
